.foodbox
{
    padding: 10px 10px;
}

.foodbox img
{
    width: 100%;
    height: 250%;
    object-fit: cover;
    border-radius: 5px;
}

.foodbox h1
{
    font-size: 18px;
    margin-top: 10px;
}

.buybtn
{
    margin-top: 2px;
    color: rgb(1, 249, 9);
    background-color:rgb(12, 12, 12);
    padding: 8px 10px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}