<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam ratione earum, eaque sed libero architecto molestias suscipit aperiam illum consequatur, dicta deleniti quisquam aliquam maxime quibusdam accusamus quae illo repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis incidunt ex, similique atque omnis in ratione earum consequatur aliquid eum debitis excepturi nostrum iste! Deleniti a quasi minima molestias eum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum odit non incidunt nemo sunt culpa et! Nobis, suscipit consequuntur, error saepe velit vel doloremque deleniti molestiae quas possimus commodi quae?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid sed debitis, incidunt id nobis non nemo molestiae cum, voluptas beatae, fugiat ullam dolorem vero et rerum corporis laboriosam suscipit quibusdam?
        <br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae cupiditate nobis sequi enim, tenetur, pariatur a ex similique cumque at aspernatur, tempora ad? Quidem molestias error, placeat saepe incidunt maxime?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptates officiis nisi nesciunt mollitia maxime, distinctio modi ex deleniti similique tempora doloremque, cum ullam repudiandae neque inventore autem eaque tenetur.
        <br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio aut sequi animi consequuntur, doloribus nulla quod cupiditate repellendus accusantium illum iste impedit laborum? Quae doloremque perspiciatis explicabo culpa nesciunt rerum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia sapiente qui minima animi exercitationem! Veniam exercitationem ipsa laborum recusandae ipsum quis illo quia commodi reiciendis, velit rem quisquam. Odio, nostrum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptas corporis illo minima a quos magnam possimus fugiat earum quidem soluta eos, veniam vero dolore quisquam quod? Itaque, corrupti soluta.
        <br>
    </p>

</div>